@import '../abstract/_variaveis'

@media screen and ( min-width: 425px )
    .cabecalho
        .cabecalho-link
            grid-template-columns: 12% 1fr
            .cabecalho-link-container
                img
                    max-width: 45px
                p
                    &:nth-child(1)
                        font-size: 1em
                    &:nth-child(2)
                        font-size: 1.6em
    .conteudo-funcionamento
        p
            animation: $movimentarFuncionamento2 18s ease-in-out infinite
    .conteudo-link
        .conteudo-link-item
            height: 110px
            max-width: 130px
    .conteudo-noticias
        height: 35vh
    .conteudo-outrasNoticias
        .conteudo-outrasNoticias-item
            height: 140px
            max-width: 500px
    .conteudo-aniversariantes
        height: 150px
    .conteudo-galeriaDeObras
        ul
            height: 150px
