@import '../abstract/_variaveis'
.cabecalho
    padding: .8em
    display: grid
    grid-template-columns: 80% 1fr
    background-color: $verde-1
    border-bottom: solid 1px $preto
    .cabecalho-link
        font-family: $fonte-primaria
        display: grid
        grid-template-columns: 15% 1fr
        text-decoration: none
        color: $branco
        column-gap: .5em
        text-shadow: 1px 1px 2px $preto
        .cabecalho-link-container
            width: 100%
            display: flex
            justify-content: center
            flex-direction: column
            img
                max-width: 100%
                align-self: center
            p
                &:nth-child(1)
                    font-size: .75em
                &:nth-child(2)
                    font-size: 1.1em
                    font-weight: bold
    .cabecalho-bars
        font-size: 1.5em
        color: $branco
        background-color: $verde-2
        border-radius: 4px
        border: none
        &:active
            background-color: $verde-3
            border: solid 1px $branco
            transition: .3s ease
        &:hover
            background-color: $verde-3
            border: solid 1px $branco
            transition: .6s ease
        i
            text-shadow: 1px 1px 2px $preto
    .cabecalho-menu
        grid-column: 2/3
        display: flex
        margin: .5em
        list-style: none
        column-gap: .2em
        font-family: $fonte-secundaria
        display: none
        .cabecalho-menu-item
            width: 100%
            display: flex
            height: 100%
            justify-content: center
            flex-direction: column
            position: relative
            color: $branco
            &:hover
                background-color: $verde-2
            p
                white-space: nowrap
                cursor: pointer
                display: flex
                column-gap: .4em
                justify-content: center
            .cabecalho-menu-item-submenu
                display: none
            &:hover
                transition: .6s ease
                border-radius: 6px 6px 0 0
                .cabecalho-menu-item-submenu
                    display: flex
                    flex-direction: column
                    position: absolute
                    top: 100%
                    list-style: none
                    background-color: $verde-2
                    z-index: 5
                    row-gap: .2em  
                    padding-top: .4em 
                    width: 100%
                    li
                        background-color: $verde-3
                        width: 100%
                        height: 100%
                        &:hover
                            background-color: $verde-4
                            transition: .4s ease
                        a
                            text-decoration: none
                            color: $branco
                            font-size: .9em
                            cursor: pointer
                            width: 100%
                            display: block
                            padding: .2em
    .cabecalho-redes
        display: flex
        justify-content: center
        align-items: flex-end
        display: none
        ul
            display: flex
            list-style: none
            padding: .5em
            column-gap: 1em
            height: 100%
            width: 100%
            li
                display: flex
                position: relative
                width: 100%
                justify-content: center
                .cabecalho-redes-item-link
                    font-size: 1.6em
                    color: $branco
                    text-decoration: none
                    align-self: center
                    justify-content: center
                    text-align: center
                    &:hover
                        animation: $animarBotaoRedesSocias
                        margin-bottom: 5px
                .facebook
                    position: relative
                    &::before
                        content: 'Facebook'
                        font-size: .4em
                        position: absolute
                        top: -70%
                        left: -40%
                        background-color: $branco
                        color: $preto
                        padding: .3em
                        border-radius: 6px
                        display: none
                    &::after
                        content: ''
                        position: absolute
                        width: 0
                        height: 0
                        top: -12%
                        left: 35%
                        border-left: 4px solid transparent
                        border-right: 4px solid transparent
                        border-top: 4px solid $branco
                        display: none
                    &:hover
                        &::before, &::after
                            display: block

                .instagram
                    position: relative
                    &::before
                        content: 'Instagram'
                        font-size: .4em
                        position: absolute
                        top: -70%
                        left: -55%
                        background-color: $branco
                        color: $preto
                        padding: .3em
                        border-radius: 6px
                        display: none
                    &::after
                        content: ''
                        position: absolute
                        width: 0
                        height: 0
                        top: -12%
                        left: 35%
                        border-left: 4px solid transparent
                        border-right: 4px solid transparent
                        border-top: 4px solid $branco
                        display: none
                    &:hover
                        &::before, &::after
                            display: block
                .email
                    position: relative
                    &::before
                        content: 'Email'
                        font-size: .4em
                        position: absolute
                        top: -70%
                        left: -10%
                        background-color: $branco
                        color: $preto
                        padding: .3em
                        border-radius: 6px
                        display: none
                    &::after
                        content: ''
                        position: absolute
                        width: 0
                        height: 0
                        top: -12%
                        left: 35%
                        border-left: 4px solid transparent
                        border-right: 4px solid transparent
                        border-top: 4px solid $branco
                        display: none
                    &:hover
                        &::before, &::after
                            display: block
                .contato
                    position: relative
                    &::before
                        content: 'Fale Conosco'
                        white-space: nowrap
                        font-size: .4em
                        position: absolute
                        top: -70%
                        left: -75%
                        background-color: $branco
                        color: $preto
                        padding: .3em
                        border-radius: 6px
                        display: none
                    &::after
                        content: ''
                        position: absolute
                        width: 0
                        height: 0
                        top: -12%
                        left: 35%
                        border-left: 4px solid transparent
                        border-right: 4px solid transparent
                        border-top: 4px solid $branco
                        display: none
                    &:hover
                        &::before,&::after
                            display: block
