@import '../abstract/_variaveis'
.conteudo-aniversariantes
    height: 120px
    background-color: $cinza-escuro
    margin: 1em auto
    width: 95%
    list-style: none
    overflow: hidden
    position: relative
    .conteudo-aniversariantes-btn
        position: absolute
        top: 50%
        transform: translate(0, -50%)
        width: 30px
        height: 30px
        font-size: 1.6em
        margin: 0
        background: transparent
        border: none
        color: $branco
    .right
        right: 0
    .conteudo-aniversariantes-lista
        white-space: nowrap
        height: 100%
        // overflow-x: scroll
        li
            height: 100%
            display: inline-block
            padding: 0
            .conteudo-aniversariantes-item-container
                height: 100%
                width: 100%
                background-color: $verde-2
                display: grid
                grid-template-columns: 30% 1fr
                overflow: hidden
                column-gap: .4em
                color: $branco
                .conteudo-aniversariantes-item-imagem
                    width: 100%
                    align-self: center
                    img
                        width: 100%
                        max-width: 115px
                .conteudo-aniversariantes-item-textos
                    white-space: wrap
                    font-family: $fonte-secundaria
                    display: flex
                    flex-direction: column
                    row-gap: .3em
                    p
                        max-width: 95%
                        &:nth-child(1)
                            text-align: center
                            font-weight: bold
                            font-size: 1.2em
                        &:nth-child(2)
                            font-size: .7em
                            strong
                                text-transform: uppercase
