@import '../abstract/_variaveis'
.conteudo-galeriaDeObras
    width: 100%
    margin: 1.5em auto
    max-width: 95%
    h3
        font-family: $fonte-secundaria
        text-align: center
        margin-bottom: .4em
    ul
        background-color: $cinza-escuro
        height: 120px
