@import '../abstract/_variaveis'
.conteudo-outrasNoticias
    display: flex
    flex-direction: column
    row-gap: .5em
    max-width: 95%
    margin: 0 auto
    list-style: none
    align-items: center
    .conteudo-outrasNoticias-item
        height: 120px
        width: 100%
        border-radius: 6px
        background-color: $cinza-escuro
        a
            display: grid
            grid-template-columns: 40% 1fr
            background-color: red
            height: 100%
            border-radius: 6px
            text-decoration: none
            color: $branco
            .imagem
                background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4eje3iSfW2tVbqHfMWNjJrbvLczT_A5PDTA&s)
                background-position: center
                background-size: cover
                border-radius: 6px 0 0 6px
            .textos
                padding: .4em
                .titulo-noticia
                    font-size: 1em
                    line-height: 1
                .descricao-noticia
                    font-size: .6em