@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
// fontes
$fonte-primaria: "Lato", sans-serif
$fonte-secundaria: "Roboto", sans-serif

// cores
$branco: #fff
$preto: #000
$verde-1: #0A6847
$verde-2: #075237
$verde-3: #08553a
$verde-4: #519b81
$cinza-escuro: #686D76

// animação
$animarBotaoRedesSocias: flutuar ease .6s
$movimentarFuncionamento: moviventarFuncionamento
$movimentarFuncionamento2: moviventarFuncionamento2
$movimentarFuncionamento3: moviventarFuncionamento3
$movimentarFuncionamento4: moviventarFuncionamento4
@keyframes flutuar
    0%
        margin-bottom: 0
    100%
        margin-bottom: 5px
@keyframes moviventarFuncionamento
    0%
        left: 100%
    100%
        left: -350%
@keyframes moviventarFuncionamento2
    0%
        left: 100%
    100%
        left: -260%
@keyframes moviventarFuncionamento3
    0%
        left: 100%
    100%
        left: -145%
@keyframes moviventarFuncionamento4
    0%
        left: 100%
    100%
        left: -110%
        