.carousel-item {
    height: 40vh;
}
.carousel-item #img-1{
    background-color: red;
    background-image: url('../imgs/vacinacao.jpeg');
    background-position: center;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
.carousel-item #img-2{
    background-color: red;
    background-image: url('../imgs/iptu.jpeg');
    background-position: center;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px){
    .carousel-item{
        height: 50vh;
    }
}
@media screen and (min-width: 1024px){
    .carousel-item{
        height: 65vh;
    }
}