.galeria-de-obras {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.galeria-de-obras h3{
    text-align: center;
    font-size: 1.6em;
    margin: 0;
    margin-bottom: .4em;
}
.galeria-de-obras ul{
    white-space: nowrap;
    list-style-type: none;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}
.galeria-de-obras ul li{
    display: inline-block;
    width: 90%;
    max-width: 320px;
    padding: .5em;
    margin: .5em;
    box-shadow: 0 0 4px 2px black;
    margin-bottom: .7em;
}
.galeria-de-obras ul li a{
    text-decoration: none;
    color: black;
}
.galeria-de-obras ul li div{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border: solid 1px black;
}
.galeria-de-obras ul li div img{
    width: 100%;
    height: 100%;
}
.galeria-de-obras ul li p{
    white-space: wrap;
    text-align: center;
    line-height: 1.2;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    padding: .5em .2em;
}

.galeria-de-obras ul::-webkit-scrollbar {
    height: 4px;
}

.galeria-de-obras ul::-webkit-scrollbar-track {
    background: brown;
    /* color of the tracking area */
}

.galeria-de-obras ul::-webkit-scrollbar-thumb {
    background-color: rgb(212, 127, 0);
    /* color of the scroll thumb */
    border-radius: 5px;
    /* creates padding around scroll thumb */
}


@media screen and (min-width: 425px){
    .galeria-de-obras h3{
        font-size: 1.8em;
    }
}
@media screen and (min-width: 576px){
    .galeria-de-obras ul li div{
        height: 170px;
    }
}

@media screen and (min-width: 768px){
    .galeria-de-obras h3{
        font-size: 2em;
    }
}