.galeria-de-obras{
    width: 95%;
    margin: 0 auto;
}
.galeria-de-obras div{
    width: 100%;
    margin: 0 auto;
}
.galeria-de-obras div p{
    font-size: 1.5em;
    max-width: 90%;
    text-align: center;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    margin: 0 auto;
}
