.menu {
    height: 130px;
    position: relative;
}

.menu button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.2em;
    border: none;
    background-color: transparent;
    color: green;
    cursor: pointer;
}
.menu button i{
    text-shadow: 0 0 2px black;
}

.menu button:first-child {
    left: 2%;
}

.menu button:nth-child(2){
    right: 2%;
}

.menu-link {
    width: 98%;
    height: 100%;
    background-color: #F7F7F7;
    margin: 0 auto;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: .5em;
}

.menu-link::-webkit-scrollbar {
    height: 4px;
}

.menu-link::-webkit-scrollbar-track {
    background: rgb(154, 248, 154);
    /* color of the tracking area */
}

.menu-link::-webkit-scrollbar-thumb {
    background-color: green;
    /* color of the scroll thumb */
    border-radius: 5px;
    /* creates padding around scroll thumb */
}

.menu-link a {
    width: 120px;
    height: 100%;
    display: inline-block;
    margin: .2em;
    padding: .5em;
    /* box-shadow: 0 0 2px 1px black; */
}

.portal-transparencia {
    background-image: url('../imgs/portal-transparencia.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.processos-licitatorios {
    background-image: url('../imgs/processos-licitatorios.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.atendimento-cidadao {
    background-image: url('../imgs/atendimento-cidadao.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.protocolo-internet {
    background-image: url('../imgs/protocolo-internet.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.declaracao-issqn {
    background-image: url('../imgs/declaracao-issqn.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ouvidoria-municipal {
    background-image: url('../imgs/ouvidoria-municipal.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.portal-nfs {
    background-image: url('../imgs/portal-nfs.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* chegou em 885 vou por display flex e flex-grow = 1 */

@media screen and (min-width: 885px) {
    .menu-link {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: .4em;
        overflow: hidden;
    }

    .menu-link a {
        flex-grow: 1;
    }

    .menu button{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .menu-link {
        height: 140px;
    }

    .menu-link a {
        width: 140px;
        height: 100%;
        flex-grow: 1;
    }
}