.rodape h3 {
    font-size: 1em;
    font-weight: bold;
}

.rodape .rodape-logo {
    display: grid;
    width: 100%;
    grid-template-columns: 17% 1fr;
    padding: 0 .5em;
}

.rodape .rodape-logo img {
    grid-column: 1/2;
    display: block;
    width: 100%;
    align-self: center;
}

.rodape .rodape-logo h2 {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-self: center;
    margin: 0;
    padding: 0;
    margin-left: .3em;
}

.rodape div h2 strong {
    font-size: 1.5em;
}

.rodape-contato h4 {
    font-size: 1.2em;
    white-space: nowrap;
    margin: 0;
    align-self: center;
}

.rodape-contato div a {
    text-decoration: none;
    margin-left: .4em;
    font-size: 1em;
    white-space: nowrap;
}

.rodape-contato div:nth-child(3) a {
    font-size: .7em;
    align-self: center;
}


@media screen and (min-width: 375px) {
    .rodape .rodape-logo h2 {
        font-size: 1.2em;
    }

    .rodape-contato div:nth-child(3) a {
        font-size: .85em;
    }

    .rodape>h3 {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 425px) {
    .rodape .rodape-logo h2 {
        font-size: 1.4em;
    }

    .rodape-contato div:nth-child(3) a {
        font-size: 1em;
    }

    .rodape>h3 {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 576px) {
    .rodape .rodape-logo h2 {
        font-size: 1.8em;
    }
    .rodape>h3 {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 768px) {
    .rodape .rodape-logo img {
        width: 70%;
        justify-self: center;
    }

    .rodape-contato {
        display: grid;
        grid-template-columns: auto auto 1fr;
        column-gap: .5em;
    }

    .rodape-contato h4 {
        font-size: 1em;
    }

    .rodape-contato a {
        font-size: .9em;
    }

    .rodape-contato div:nth-child(3) a {
        font-size: .6em;
    }

    .rodape>h3 {
        font-size: 2em;
    }
}

@media screen and (min-width: 992px) {
    .rodape {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .rodape>h3 {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .rodape .rodape-logo h2 {
        font-size: 1.5em;
    }

    .rodape>p{
        font-size: 1.4em;
        margin: 0;
        padding: 0;
    }
    .rodape-contato{
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .rodape-contato h4{
        font-size: 1.5em;
    }
    .rodape-contato div a{
        font-size: 1.3em;
        margin-top: .3em;
    }
    .rodape-contato div:nth-child(3) a{
        font-size: .7em;
    }
    
    .accordion{
        grid-row: 4/5;
        grid-column: 1/3;
    }
}

@media screen and (min-width: 1024px) {
    .rodape-contato div:nth-child(3) a{
        font-size: .8em;
    }
}
@media screen and (min-width: 1200px) {
    .rodape-contato div:nth-child(3) a{
        font-size: 1.3em;
    }
}
@media screen and (min-width: 1400px) {
    .rodape-contato {
        display: flex;
        justify-content: space-around;
    }
}