.servicos-municipais ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    padding: .8em;
    justify-content: center;
}

.servicos-municipais ul li {
    width: 85%;
    max-width: 170px;
    align-self: center;
}

.servicos-municipais ul li img{
    width: 100%;
}

@media screen and (min-width: 992px){
    .servicos-municipais ul{
        padding-left: 3em;
        row-gap: 1em;
    }
    .servicos-municipais ul li{
        width: 90%;
    }
}
@media screen and (min-width: 1200px){
    .servicos-municipais ul li {
        max-width: 245px;
    }
}