@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.cabecalho {
  padding: 0.8em;
  display: grid;
  grid-template-columns: 80% 1fr;
  background-color: #0A6847;
  border-bottom: solid 1px #000;
}
.cabecalho .cabecalho-link {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: 15% 1fr;
  text-decoration: none;
  color: #fff;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  text-shadow: 1px 1px 2px #000;
}
.cabecalho .cabecalho-link .cabecalho-link-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cabecalho .cabecalho-link .cabecalho-link-container img {
  max-width: 100%;
  align-self: center;
}
.cabecalho .cabecalho-link .cabecalho-link-container p:nth-child(1) {
  font-size: 0.75em;
}
.cabecalho .cabecalho-link .cabecalho-link-container p:nth-child(2) {
  font-size: 1.1em;
  font-weight: bold;
}
.cabecalho .cabecalho-bars {
  font-size: 1.5em;
  color: #fff;
  background-color: #075237;
  border-radius: 4px;
  border: none;
}
.cabecalho .cabecalho-bars:active {
  background-color: #08553a;
  border: solid 1px #fff;
  transition: 0.3s ease;
}
.cabecalho .cabecalho-bars:hover {
  background-color: #08553a;
  border: solid 1px #fff;
  transition: 0.6s ease;
}
.cabecalho .cabecalho-bars i {
  text-shadow: 1px 1px 2px #000;
}
.cabecalho .cabecalho-menu {
  grid-column: 2/3;
  display: flex;
  margin: 0.5em;
  list-style: none;
  -moz-column-gap: 0.2em;
       column-gap: 0.2em;
  font-family: "Roboto", sans-serif;
  display: none;
}
.cabecalho .cabecalho-menu .cabecalho-menu-item {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: #fff;
}
.cabecalho .cabecalho-menu .cabecalho-menu-item:hover {
  background-color: #075237;
}
.cabecalho .cabecalho-menu .cabecalho-menu-item p {
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  -moz-column-gap: 0.4em;
       column-gap: 0.4em;
  justify-content: center;
}
.cabecalho .cabecalho-menu .cabecalho-menu-item .cabecalho-menu-item-submenu {
  display: none;
}
.cabecalho .cabecalho-menu .cabecalho-menu-item:hover {
  transition: 0.6s ease;
  border-radius: 6px 6px 0 0;
}
.cabecalho .cabecalho-menu .cabecalho-menu-item:hover .cabecalho-menu-item-submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  list-style: none;
  background-color: #075237;
  z-index: 2;
  row-gap: 0.2em;
  padding-top: 0.4em;
}
.cabecalho .cabecalho-menu .cabecalho-menu-item:hover .cabecalho-menu-item-submenu li {
  background-color: #08553a;
  padding: 0.2em;
}
.cabecalho .cabecalho-menu .cabecalho-menu-item:hover .cabecalho-menu-item-submenu li:hover {
  background-color: #519b81;
  transition: 0.4s ease;
}
.cabecalho .cabecalho-menu .cabecalho-menu-item:hover .cabecalho-menu-item-submenu li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
  cursor: pointer;
}
.cabecalho .cabecalho-redes-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.cabecalho .cabecalho-redes-mobile button {
  width: 100%;
  padding: 0.4em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #519b81;
  border-radius: 4px;
  border: none;
}
.cabecalho .cabecalho-redes-mobile button img {
  width: 30px;
}
.cabecalho .cabecalho-redes {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  display: none;
}
.cabecalho .cabecalho-redes ul {
  display: flex;
  list-style: none;
  padding: 0.5em;
  -moz-column-gap: 1em;
       column-gap: 1em;
  height: 100%;
}
.cabecalho .cabecalho-redes ul li {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.cabecalho .cabecalho-redes ul li .cabecalho-redes-item-link {
  font-size: 1.6em;
  color: #fff;
  text-decoration: none;
}
.cabecalho .cabecalho-redes ul li .cabecalho-redes-item-link:hover {
  animation: flutuar ease 0.6s;
  margin-bottom: 5px;
}
.cabecalho .cabecalho-redes ul li .facebook {
  position: relative;
}
.cabecalho .cabecalho-redes ul li .facebook::before {
  content: "Facebook";
  font-size: 0.4em;
  position: absolute;
  top: -70%;
  left: -40%;
  background-color: #fff;
  color: #000;
  padding: 0.3em;
  border-radius: 6px;
  display: none;
}
.cabecalho .cabecalho-redes ul li .facebook::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -12%;
  left: 35%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: none;
}
.cabecalho .cabecalho-redes ul li .facebook:hover::before, .cabecalho .cabecalho-redes ul li .facebook:hover::after {
  display: block;
}
.cabecalho .cabecalho-redes ul li .instagram {
  position: relative;
}
.cabecalho .cabecalho-redes ul li .instagram::before {
  content: "Instagram";
  font-size: 0.4em;
  position: absolute;
  top: -70%;
  left: -55%;
  background-color: #fff;
  color: #000;
  padding: 0.3em;
  border-radius: 6px;
  display: none;
}
.cabecalho .cabecalho-redes ul li .instagram::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -12%;
  left: 35%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: none;
}
.cabecalho .cabecalho-redes ul li .instagram:hover::before, .cabecalho .cabecalho-redes ul li .instagram:hover::after {
  display: block;
}
.cabecalho .cabecalho-redes ul li .email {
  position: relative;
}
.cabecalho .cabecalho-redes ul li .email::before {
  content: "Email";
  font-size: 0.4em;
  position: absolute;
  top: -70%;
  left: -10%;
  background-color: #fff;
  color: #000;
  padding: 0.3em;
  border-radius: 6px;
  display: none;
}
.cabecalho .cabecalho-redes ul li .email::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -12%;
  left: 35%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: none;
}
.cabecalho .cabecalho-redes ul li .email:hover::before, .cabecalho .cabecalho-redes ul li .email:hover::after {
  display: block;
}
.cabecalho .cabecalho-redes ul li .contato {
  position: relative;
}
.cabecalho .cabecalho-redes ul li .contato::before {
  content: "Fale Conosco";
  white-space: nowrap;
  font-size: 0.4em;
  position: absolute;
  top: -70%;
  left: -75%;
  background-color: #fff;
  color: #000;
  padding: 0.3em;
  border-radius: 6px;
  display: none;
}
.cabecalho .cabecalho-redes ul li .contato::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -12%;
  left: 35%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: none;
}
.cabecalho .cabecalho-redes ul li .contato:hover::before, .cabecalho .cabecalho-redes ul li .contato:hover::after {
  display: block;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.conteudo-funcionamento {
  width: 100%;
  background-color: #08553a;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  position: relative;
  height: 27px;
  border-bottom: solid 2px #000;
}
.conteudo-funcionamento p {
  white-space: nowrap;
  position: absolute;
  top: 0;
  margin-top: 0.1em;
  left: 100%;
  animation: moviventarFuncionamento 20s ease-in-out infinite;
  color: #fff;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.conteudo-avisosImportantes {
  background-color: #686D76;
  width: 100%;
  height: 40vh;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.conteudo-link {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5em;
  justify-content: center;
  margin: 1em 0;
}
.conteudo-link .conteudo-link-item {
  width: 30%;
  height: 80px;
  background-color: #686D76;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.conteudo-noticias {
  height: 30vh;
  width: 100%;
  background-color: #686D76;
  max-width: 95%;
  margin: 1em auto;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.conteudo-outrasNoticias {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  max-width: 95%;
  margin: 0 auto;
  list-style: none;
  align-items: center;
}
.conteudo-outrasNoticias .conteudo-outrasNoticias-item {
  height: 120px;
  width: 100%;
  border-radius: 6px;
  background-color: #686D76;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.conteudo-verMaisNoticias {
  width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteudo-verMaisNoticias button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 0.2em 0.5em;
  border-radius: 6px;
  background-color: #0A6847;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.conteudo-aniversariantes {
  height: 120px;
  background-color: #686D76;
  margin: 1em auto;
  width: 95%;
  list-style: none;
  overflow: hidden;
  position: relative;
}
.conteudo-aniversariantes .conteudo-aniversariantes-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  font-size: 1.6em;
  margin: 0;
  background: transparent;
  border: none;
  color: #fff;
}
.conteudo-aniversariantes .right {
  right: 0;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista {
  white-space: nowrap;
  height: 100%;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista li {
  height: 100%;
  display: inline-block;
  padding: 0;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista li .conteudo-aniversariantes-item-container {
  height: 100%;
  width: 100%;
  background-color: #075237;
  display: grid;
  grid-template-columns: 30% 1fr;
  overflow: hidden;
  -moz-column-gap: 0.4em;
       column-gap: 0.4em;
  color: #fff;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista li .conteudo-aniversariantes-item-container .conteudo-aniversariantes-item-imagem {
  width: 100%;
  align-self: center;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista li .conteudo-aniversariantes-item-container .conteudo-aniversariantes-item-imagem img {
  width: 100%;
  max-width: 115px;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista li .conteudo-aniversariantes-item-container .conteudo-aniversariantes-item-textos {
  white-space: wrap;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista li .conteudo-aniversariantes-item-container .conteudo-aniversariantes-item-textos p {
  max-width: 95%;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista li .conteudo-aniversariantes-item-container .conteudo-aniversariantes-item-textos p:nth-child(1) {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista li .conteudo-aniversariantes-item-container .conteudo-aniversariantes-item-textos p:nth-child(2) {
  font-size: 0.7em;
}
.conteudo-aniversariantes .conteudo-aniversariantes-lista li .conteudo-aniversariantes-item-container .conteudo-aniversariantes-item-textos p:nth-child(2) strong {
  text-transform: uppercase;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.conteudo-galeriaDeObras {
  width: 100%;
  margin: 1.5em auto;
  max-width: 95%;
  position: relative;
}
.conteudo-galeriaDeObras h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 0.4em;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -20%);
  font-size: 2.5em;
  background: transparent;
  border: none;
  color: #971B1B;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-btn i {
  text-shadow: 1px 1px 2px #000;
}
.conteudo-galeriaDeObras .right {
  right: 1%;
}
.conteudo-galeriaDeObras .left {
  left: 1%;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista {
  background-color: #cdcecf;
  height: 140px;
  list-style: none;
  display: flex;
  overflow-x: scroll;
  padding: 0.2em 0.5em;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista::-webkit-scrollbar {
  height: 6px;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista::-webkit-scrollbar-track {
  background: #971B1B;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista::-webkit-scrollbar-thumb {
  border: solid 1px #000;
  background-color: #fff;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li {
  width: 170px;
  height: 100%;
  border-radius: 4px;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a {
  width: 170px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 30px;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  row-gap: 0.4em;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a .container-imagem {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a .container-imagem img {
  width: 100%;
  height: 100%;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a .container-texto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
  padding: 0.2em;
  color: #971B1B;
  font-weight: bold;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a .container-texto::-webkit-scrollbar {
  width: 2px;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a .container-texto::-webkit-scrollbar-track {
  background: #971B1B;
}
.conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a .container-texto::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.rodape {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #0A6847;
}
.rodape .rodape-informacoes {
  display: grid;
  row-gap: 1em;
  background-color: #075237;
  padding: 0.5em;
}
.rodape .rodape-informacoes p {
  text-align: center;
}
.rodape .rodape-informacoes p a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 0.9em;
}
.rodape .rodape-brasao {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  padding: 0.5em;
}
.rodape .rodape-brasao div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
}
.rodape .rodape-brasao div:nth-child(2) {
  align-items: flex-start;
}
.rodape .rodape-brasao div img {
  width: 100%;
  max-width: 40px;
}
.rodape .rodape-brasao div p:nth-child(1) {
  font-size: 0.8em;
}
.rodape .rodape-brasao div p:nth-child(2) {
  font-size: 1.4em;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
.offcanvas {
  position: fixed;
  top: 0;
  left: 100%;
  width: 80%;
  height: 100%;
  background-color: #08553a;
  font-family: "Roboto", sans-serif;
  display: none;
  color: #fff;
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-template-rows: 40px 1fr 50px auto;
  padding: 0.5em;
  gap: 0.5em;
}
.offcanvas .offcanvas-titulo {
  font-size: 1.8em;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
}
.offcanvas .offcanvas-btn-fechar {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.4em;
  color: #fff;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offcanvas .offcanvas-btn-fechar:active {
  background-color: #0A6847;
  box-shadow: 0 0 2px 1px #000;
  border-radius: 4px;
}
.offcanvas .offcanvas-menu {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  grid-row: 2/3;
  list-style: none;
  row-gap: 0.4em;
  overflow-x: hidden;
  overflow-y: scroll;
}
.offcanvas .offcanvas-menu .offcanvas-menu-item {
  padding: 0.4em;
  background-color: #0A6847;
  border-radius: 4px;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.offcanvas .offcanvas-menu .offcanvas-menu-item p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.offcanvas .offcanvas-menu .offcanvas-menu-item .submenu {
  display: none;
  flex-direction: column;
  list-style: none;
  row-gap: 0.2em;
  margin-top: 0.5em;
  z-index: 1;
}
.offcanvas .offcanvas-menu .offcanvas-menu-item .submenu li {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.offcanvas .offcanvas-menu .offcanvas-menu-item .submenu li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 0.2em;
  border-radius: 4px;
  font-size: 0.9em;
  background-color: #075237;
  width: 100%;
}
.offcanvas .offcanvas-localizacao {
  grid-column: 1/3;
  display: flex;
  -moz-column-gap: 0.4em;
       column-gap: 0.4em;
  align-self: center;
}
.offcanvas .offcanvas-localizacao a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  cursor: pointer;
}
.offcanvas .offcanvas-localizacao p {
  font-size: 0.9em;
  display: flex;
  align-items: center;
}
.offcanvas .offcanvas-redesSociais {
  list-style-type: none;
  display: flex;
  grid-column: 1/3;
  justify-content: space-around;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .offcanvas-redesSociais-item-link {
  font-size: 1.6em;
  color: #fff;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .facebook {
  position: relative;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .facebook::before {
  content: "Facebook";
  font-size: 0.4em;
  position: absolute;
  top: -70%;
  left: -40%;
  background-color: #fff;
  color: #000;
  padding: 0.3em;
  border-radius: 6px;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .facebook::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -12%;
  left: 35%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .facebook:hover::before, .offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .facebook:hover::after {
  display: block;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .instagram {
  position: relative;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .instagram::before {
  content: "Instagram";
  font-size: 0.4em;
  position: absolute;
  top: -70%;
  left: -55%;
  background-color: #fff;
  color: #000;
  padding: 0.3em;
  border-radius: 6px;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .instagram::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -12%;
  left: 35%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .instagram:hover::before, .offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .instagram:hover::after {
  display: block;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .email {
  position: relative;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .email::before {
  content: "Email";
  font-size: 0.4em;
  position: absolute;
  top: -70%;
  left: -10%;
  background-color: #fff;
  color: #000;
  padding: 0.3em;
  border-radius: 6px;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .email::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -12%;
  left: 35%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .email:hover::before, .offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .email:hover::after {
  display: block;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .contato {
  position: relative;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .contato::before {
  content: "Fale Conosco";
  white-space: nowrap;
  font-size: 0.4em;
  position: absolute;
  top: -70%;
  left: -75%;
  background-color: #fff;
  color: #000;
  padding: 0.3em;
  border-radius: 6px;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .contato::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -12%;
  left: 35%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .contato:hover::before, .offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .contato:hover::after {
  display: block;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .telefone {
  position: relative;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .telefone::before {
  content: "Telefone";
  white-space: nowrap;
  font-size: 0.4em;
  position: absolute;
  top: -70%;
  left: -40%;
  background-color: #fff;
  color: #000;
  padding: 0.3em;
  border-radius: 6px;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .telefone::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -12%;
  left: 35%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: none;
}
.offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .telefone:hover::before, .offcanvas .offcanvas-redesSociais .offcanvas-redesSociais-item .telefone:hover::after {
  display: block;
}

@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
@media screen and (min-width: 375px) {
  .cabecalho .cabecalho-link .cabecalho-link-container img {
    max-width: 45px;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container p:nth-child(1) {
    font-size: 0.9em;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container p:nth-child(2) {
    font-size: 1.4em;
  }
  .conteudo-link .conteudo-link-item {
    height: 90px;
  }
}
@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
@media screen and (min-width: 425px) {
  .cabecalho .cabecalho-link {
    grid-template-columns: 12% 1fr;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img {
    max-width: 45px;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container p:nth-child(1) {
    font-size: 1em;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container p:nth-child(2) {
    font-size: 1.6em;
  }
  .conteudo-funcionamento p {
    animation: moviventarFuncionamento2 18s ease-in-out infinite;
  }
  .conteudo-link .conteudo-link-item {
    height: 110px;
    max-width: 130px;
  }
  .conteudo-noticias {
    height: 35vh;
  }
  .conteudo-outrasNoticias .conteudo-outrasNoticias-item {
    height: 140px;
    max-width: 500px;
  }
  .conteudo-aniversariantes {
    height: 140px;
  }
  .conteudo-galeriaDeObras ul {
    height: 150px;
  }
}
@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
@media screen and (min-width: 768px) {
  .cabecalho {
    grid-template-columns: auto 1fr 40px;
  }
  .cabecalho .cabecalho-link {
    grid-template-columns: 16% 1fr;
    white-space: nowrap;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img {
    max-width: 45px;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img p:nth-child(1) {
    font-size: 1em;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img p:nth-child(2) {
    font-size: 1.6em;
  }
  .cabecalho .cabecalho-bars {
    display: none;
  }
  .cabecalho .cabecalho-menu {
    display: flex;
  }
  .cabecalho .cabecalho-redes-mobile {
    display: flex;
  }
  .conteudo-avisosImportantes {
    height: 50vh;
  }
  .conteudo-funcionamento p {
    animation: moviventarFuncionamento3 16s ease-in-out infinite;
  }
  .conteudo-link .conteudo-link-item {
    width: 15%;
    height: 110px;
    background-color: #686D76;
  }
  .conteudo-noticias {
    height: 40vh;
    width: 60%;
    margin: 1em 0;
    margin-left: auto;
    margin-right: 1em;
  }
  .conteudo-outrasNoticias {
    display: flex;
    max-width: 60%;
    margin: 0;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 1em;
  }
  .conteudo-outrasNoticias .conteudo-outrasNoticias-item {
    height: 120px;
    width: 100%;
    max-width: 100%;
    border-radius: 6px;
    background-color: #686D76;
  }
  .conteudo-verMaisNoticias {
    max-width: 60%;
    margin-left: auto;
  }
  .conteudo-aniversariantes {
    height: 140px;
    max-width: 60%;
    margin: 0;
    margin-left: auto;
  }
  .conteudo-aniversariantes .conteudo-aniversariantes-lista .conteudo-aniversariantes-item {
    grid-template-columns: 125px 1fr;
  }
  .conteudo-aniversariantes .conteudo-aniversariantes-lista .conteudo-aniversariantes-item .conteudo-aniversariantes-item-container {
    padding: 0.5em;
  }
  .conteudo-aniversariantes .conteudo-aniversariantes-lista .conteudo-aniversariantes-item .conteudo-aniversariantes-item-container .conteudo-aniversariantes-item-textos:nth-child(2) {
    font-size: 1.1em;
  }
  .conteudo-galeriaDeObras h3 {
    font-size: 1.8em;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-btn {
    font-size: 4em;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista {
    height: 180px;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li {
    width: 220px;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a {
    width: 220px;
    grid-template-rows: 1fr 45px;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a .container-texto {
    font-size: 1em;
  }
  .rodape .rodape-informacoes {
    grid-template-columns: repeat(3, 1fr);
  }
  .rodape .rodape-informacoes p {
    display: flex;
    align-items: center;
  }
  .rodape .rodape-informacoes p:nth-child(1) {
    font-size: 1.3em;
    grid-column: 1/4;
    justify-self: center;
  }
  .rodape .rodape-informacoes p:nth-child(2) {
    grid-column: 1/4;
    justify-self: center;
  }
  .rodape .rodape-informacoes p:nth-child(5) {
    font-size: 0.7em;
  }
  .rodape .rodape-brasao {
    grid-template-columns: 15% 1fr 15%;
  }
  .rodape .rodape-brasao div:nth-child(2) p:nth-child(1) {
    font-size: 1.4em;
  }
  .rodape .rodape-brasao div:nth-child(2) p:nth-child(2) {
    font-size: 2.4em;
  }
  .rodape .rodape-brasao div img {
    max-width: 60%;
  }
}
@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
@media screen and (min-width: 1024px) {
  .cabecalho {
    grid-template-columns: auto 1fr 40px;
  }
  .cabecalho .cabecalho-link {
    grid-template-columns: 16% 1fr;
    white-space: nowrap;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img {
    max-width: 45px;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img p:nth-child(1) {
    font-size: 1em;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img p:nth-child(2) {
    font-size: 1.6em;
  }
  .cabecalho .cabecalho-bars {
    display: none;
  }
  .cabecalho .cabecalho-menu {
    margin-left: 1em;
  }
  .cabecalho .cabecalho-menu .cabecalho-menu-item a {
    flex-direction: row;
    -moz-column-gap: 0.4em;
         column-gap: 0.4em;
    font-size: 0.9em;
  }
  .conteudo-funcionamento p {
    animation: moviventarFuncionamento4 14s ease-in-out infinite;
  }
  .conteudo-link {
    justify-content: space-around;
    max-width: 1200px;
    margin: 1em auto;
  }
  .conteudo-link .conteudo-link-item {
    height: 130px;
    max-width: 150px;
  }
  .conteudo-noticias {
    height: 50vh;
    width: 60%;
    margin: 1em 0;
    margin-left: auto;
    margin-right: 1em;
  }
  .conteudo-outrasNoticias .conteudo-outrasNoticias-item {
    height: 170px;
    width: 100%;
  }
  .conteudo-aniversariantes {
    height: 160px;
    max-width: 60%;
    margin: 0;
    margin-left: auto;
  }
  .conteudo-galeriaDeObras h3 {
    font-size: 2em;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-btn {
    font-size: 4em;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista {
    height: 190px;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li {
    width: 220px;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a {
    width: 220px;
    grid-template-rows: 1fr 45px;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a .container-texto {
    font-size: 1.1em;
  }
  .rodape .rodape-informacoes {
    grid-template-columns: repeat(3, 1fr);
  }
  .rodape .rodape-informacoes p {
    display: flex;
    align-items: center;
  }
  .rodape .rodape-informacoes p:nth-child(1) {
    font-size: 1.6em;
    grid-column: 1/4;
    justify-self: center;
  }
  .rodape .rodape-informacoes p:nth-child(2) {
    grid-column: 1/4;
    font-size: 1.2em;
    justify-self: center;
  }
  .rodape .rodape-informacoes p:nth-child(3), .rodape .rodape-informacoes p:nth-child(4), .rodape .rodape-informacoes p:nth-child(5) {
    font-size: 1.2em;
    justify-content: center;
  }
  .rodape .rodape-brasao {
    grid-template-columns: 15% 1fr 15%;
  }
  .rodape .rodape-brasao div:nth-child(2) p:nth-child(1) {
    font-size: 1.6em;
  }
  .rodape .rodape-brasao div:nth-child(2) p:nth-child(2) {
    font-size: 2.8em;
  }
  .rodape .rodape-brasao div img {
    max-width: 60%;
  }
}
@keyframes flutuar {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 5px;
  }
}
@keyframes moviventarFuncionamento {
  0% {
    left: 100%;
  }
  100% {
    left: -350%;
  }
}
@keyframes moviventarFuncionamento2 {
  0% {
    left: 100%;
  }
  100% {
    left: -260%;
  }
}
@keyframes moviventarFuncionamento3 {
  0% {
    left: 100%;
  }
  100% {
    left: -145%;
  }
}
@keyframes moviventarFuncionamento4 {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
@media screen and (min-width: 1440px) {
  .cabecalho {
    grid-template-columns: 300px 920px 1fr;
  }
  .cabecalho .cabecalho-link {
    grid-template-columns: 16% 1fr;
    white-space: nowrap;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img {
    max-width: 45px;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img p:nth-child(1) {
    font-size: 1em;
  }
  .cabecalho .cabecalho-link .cabecalho-link-container img p:nth-child(2) {
    font-size: 1.6em;
  }
  .cabecalho .cabecalho-bars {
    display: none;
  }
  .cabecalho .cabecalho-menu {
    margin-left: 1em;
    -moz-column-gap: 0.5em;
         column-gap: 0.5em;
  }
  .cabecalho .cabecalho-menu .cabecalho-menu-item a {
    flex-direction: row;
    -moz-column-gap: 0.4em;
         column-gap: 0.4em;
    font-size: 1em;
  }
  .cabecalho .cabecalho-redes-mobile {
    display: none;
  }
  .cabecalho .cabecalho-redes {
    display: flex;
  }
  .conteudo-avisosImportantes {
    height: 65vh;
  }
  .conteudo-funcionamento p {
    animation: none;
    left: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 3.4px;
    font-size: 0.8em;
    margin-top: 0.2em;
  }
  .conteudo-link .conteudo-link-item {
    height: 150px;
    max-width: 170px;
  }
  .conteudo-noticias {
    height: 60vh;
    width: 70%;
    margin: 3em 0 1em 0;
    margin-left: auto;
    margin-right: 1em;
  }
  .conteudo-outrasNoticias {
    width: 70%;
    max-width: 70%;
  }
  .conteudo-outrasNoticias .conteudo-outrasNoticias-item {
    height: 210px;
    width: 100%;
  }
  .conteudo-verMaisNoticias {
    max-width: 70%;
    margin-left: auto;
  }
  .conteudo-aniversariantes {
    height: 180px;
    max-width: 70%;
  }
  .conteudo-aniversariantes .conteudo-aniversariantes-lista .conteudo-aniversariantes-item {
    grid-template-columns: 160px 1fr;
    padding: 0.5em;
    -moz-column-gap: 1em;
         column-gap: 1em;
  }
  .conteudo-aniversariantes .conteudo-aniversariantes-lista .conteudo-aniversariantes-item .conteudo-aniversariantes-item-imagem {
    max-width: 100%;
    width: 100%;
  }
  .conteudo-aniversariantes .conteudo-aniversariantes-lista .conteudo-aniversariantes-item .conteudo-aniversariantes-item-imagem img {
    width: 100%;
    max-width: 100%;
  }
  .conteudo-aniversariantes .conteudo-aniversariantes-lista .conteudo-aniversariantes-item .conteudo-aniversariantes-item-textos p:nth-child(1) {
    font-size: 1.8em;
  }
  .conteudo-aniversariantes .conteudo-aniversariantes-lista .conteudo-aniversariantes-item .conteudo-aniversariantes-item-textos p:nth-child(2) {
    font-size: 1.45em;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista {
    height: 230px;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li {
    width: 260px;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a {
    width: 260px;
    grid-template-rows: 1fr 45px;
  }
  .conteudo-galeriaDeObras .conteudo-galeriaDeObras-lista li a .container-texto {
    font-size: 1.3em;
  }
  .rodape {
    padding-bottom: 1.5em;
  }
  .rodape .rodape-informacoes {
    grid-template-columns: repeat(3, 1fr);
  }
  .rodape .rodape-informacoes p {
    display: flex;
    align-items: center;
  }
  .rodape .rodape-informacoes p:nth-child(1) {
    font-size: 1.8em;
    grid-column: 1/4;
    justify-self: center;
  }
  .rodape .rodape-informacoes p:nth-child(2) {
    grid-column: 1/4;
    font-size: 1.4em;
    justify-self: center;
  }
  .rodape .rodape-informacoes p:nth-child(3), .rodape .rodape-informacoes p:nth-child(4), .rodape .rodape-informacoes p:nth-child(5) {
    font-size: 1.4em;
    justify-content: center;
  }
  .rodape .rodape-brasao {
    grid-template-columns: 12% 1fr 12%;
  }
  .rodape .rodape-brasao div:nth-child(2) p:nth-child(1) {
    font-size: 2em;
  }
  .rodape .rodape-brasao div:nth-child(2) p:nth-child(2) {
    font-size: 3.4em;
  }
  .rodape .rodape-brasao div img {
    max-width: 60%;
  }
}/*# sourceMappingURL=style.css.map */